venv/
__pycache__/
yolov8n.pt
*.db
.DS_Store
.vscode/
runs/
test_demo.py
train.py
datasets/
test_cam.py
test.py
requirements.txttest_video.py
gui/__init__.py
gui/__pycache__
core/__pycache__
core/services/__pycache__
database/__init__.py
test_video.py
video2.mp4
video3.mp4
main.py
*.jpg